aniso8601==9.0.1
application_vlados==0.0.2
attrs==22.1.0
click==8.1.3
dict2xml==1.7.2
exceptiongroup==1.0.1
flasgger==0.9.5
Flask==2.2.2
Flask-RESTful==0.3.9
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.0
MarkupSafe==2.1.1
mistune==2.0.4
packaging==21.3
pluggy==1.0.0
pyparsing==3.0.9
pyrsistent==0.19.2
pytest==7.2.0
pytz==2022.6
PyYAML==6.0
six==1.16.0
tomli==2.0.1
Werkzeug==2.2.2
